<!DOCTYPE html>
<html>
<head>
	<title>Python Starter Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="./static/stylesheets/style.css" />
</head>
<body>
	<table>
		<tr>
			<td style='width: 30%;'>
				<img class = 'newappIcon' src='./static/images/newapp-icon.png'>
			</td>
			<td>
				<h1 id = "message">Hello Akash!</h1>
				<p class='description'></p>This is my first <span class="blue">Python Starter Application</span>.
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<form action="/functions" method="get">
			<td><input type="submit" name="button1" value="Get Started" style="border-radius:12px;vertical-align: top;"></td>
			</form>
		</tr>
	</table>
</body>
</html>
